:root{
    --color-indigo: #5E376D;
    --color-rosequeartz: #F6E6E8;
    --color-lilac: #D4BBDD;
    --color-yellow: #F7E951;
    --gradiente-fondo: linear-gradient(115deg, rgba(94,55,109,0.87718837535014) 50%, rgba(212,187,221,0.9136029411764706) 100%);
}

a{
    text-decoration: none;
}

.scrolleable{
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-success {
    --bs-table-color: var(--color-indigo);
    --bs-table-bg: var(--color-lilac);
    --bs-table-striped-bg: var(--color-indigo);
    --bs-table-striped-color: var(--color-rosequeartz);
    color: #000;
}

html{
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21rem;
}

body{
    background-color: var(--color-rosequeartz);
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
    transform: translateX(-5%);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4e4e4e21;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* Estilos del header */

header{
    background-color: var(--color-yellow);
    display: flex;
    max-height: 7rem;
    justify-content: space-between;
    padding-right: 2rem;
}

nav{
    align-self: center;
    display: flex;
}

a .nav{
    width: 7.7rem;
    min-height: 3rem;
    margin: 0 1.5rem;
    letter-spacing: 0.07875rem;
    text-align: center;
    font-size: 0.75rem;
}

.nav:nth-child(2){
    font-size: 0.65rem;
}

.button{
    border-radius: 1.625rem;
    border: 2px solid var(--color-indigo);
    background-color: var(--color-rosequeartz);
    color: var(--color-indigo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.alt{
    border-radius: 1.625rem;
    border: 4px solid var(--color-rosequeartz);
    background: var(--color-indigo);
    color: var(--color-rosequeartz);
    min-height: 3.5rem;
    font-weight: 700;
}

header img{
    max-height: 7rem;
}

/* Estilos del main */

main{
    display: flex;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.cards{
    height: 70%;
}

.search{
    max-width: 30rem;
    max-height: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_bar{
    display: flex;
    width: 34.5rem;
    justify-content: space-around;
}

#submit_search {
    min-width: 7.7rem;
    max-height: 4rem;
    align-self: center;
}

.search h3{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.21rem;
}

#search_input{
    width: 20rem;
    height: 3.5rem;
    border-radius: 10.625rem;
    border: 3px solid #000;
    background: #FFF;
    padding-left: 1.5rem;
}

/* Estilos del header */

header{
    background-color: var(--color-yellow);
    display: flex;
    max-height: 7rem;
    justify-content: space-between;
    padding-right: 2rem;
}

nav{
    align-self: center;
    display: flex;
    align-items: center;
}

nav>a{
    width: min-content;
    height: min-content;
}

a .nav{
    width: 7.7rem;
    min-height: 3rem;
    align-self: center;
    margin: 0 1.5rem;
    letter-spacing: 0.07875rem;
    text-align: center;
    font-size: 0.6rem;
}

a .nav:nth-child(3){
    font-size: 0.65rem;
}

.button{
    border-radius: 1.625rem;
    border: 2px solid var(--color-indigo);
    background-color: var(--color-rosequeartz);
    color: var(--color-indigo);
}

.button:hover{
    cursor: pointer;
}

.button.alt{
    border-radius: 1.625rem;
    border: 4px solid var(--color-rosequeartz);
    background: var(--color-indigo);
    color: var(--color-rosequeartz);
    min-height: 3.5rem;
    font-weight: 700;
}

header>img{
    max-height: 7rem;
}

/* Estilos del main */

main{
    display: flex;
    align-items: center;
    min-height: 75.8vh;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.cards{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card:nth-child(2){
    height: 97%;
}

.card{
    background-color: var(--color-lilac);
    border-radius: 2.5625rem;
    border: 3px solid #5E376D;
    height: 95%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card>h2{
    color: #5E376D;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.21rem;
}

img#cover{
    background-color: grey;
    width: 7rem;
    height: 7rem;
}

.rating{
    height: 3rem;
    display: flex;
    justify-content: space-around;
}

.rating img{
    margin: 0 0.5rem;
}

.description{
    height: 9rem;
}

.description>p{
    text-align: center;
    overflow-y: hidden;
    max-height: 15vh;
}

.card-btn{
    width: 7.2rem;
    height: 3.1rem;
    flex-shrink: 0;
    align-self: flex-end;
}

.search{
    max-width: 30rem;
    max-height: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.search_bar{
    display: flex;
    width: 34.5rem;
    justify-content: space-around;
}

#submit_search {
    min-width: 7.7rem;
    max-height: 4rem;
    align-self: center;
}

.search h3{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.21rem;
}

#search_input{
    width: 20rem;
    height: 3.5rem;
    border-radius: 10.625rem;
    border: 3px solid #000;
    background: #FFF;
    padding-left: 1.5rem;
}
/* Estilos del footer */

footer{
    min-height: 10.5vh;
    background-color: var(--color-indigo);
    border-top: 6px solid #000;
}

/* Estilos de pagina de album */
.album_container{
    width: 95%;
    height: 100%;
    border-radius: 2.5625rem;
    border: 4px solid #5E376D;
    background: #D4BBDD;
    display: flex;
}

.table{
    overflow-y: scroll;
}

.album_data{
    width: 35%;
    padding: 2rem;
}

.album_data> *{
    margin: 0.75rem 0;
}

.album_data>p{
    margin: 2rem 0;
    overflow-y: scroll;
    height: 15rem;
}

.album_data>.rating{
    max-width: 90%;
    height: 2em;
    justify-content: flex-start;
    transform: translateX(-2.5%);
}

.album_songs{
    width: 60%;
    background-color: var(--gradiente-fondo);
}

.album_songs>table{
    margin: 2rem 2rem;
}

.album_table{
    max-width: 50%;
    align-self: flex-start;
}

.album_list_container{
    height: 100%;
    width: 100%;
    display: flex;
}

.card_container{
    width: 45vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card_container>.card{
    min-width: 30vw;
    max-height: 60vh;
}

/* estilos de la pagina de canciones */

.songs_page_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}   
.songs_table{
    background-color: var(--color-lilac);
    border-radius: 2.5625rem;
    border: 3px solid #5E376D;
    height: 95%;
    width: 100%;
    flex-grow: 1;
    flex-basis: 48%;
    padding: 1%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
}
table{
    display: block;
    overflow-y: scroll;
    height: 100%;
}

.search_song_conteiner{
    content: "";
    flex: auto;
    margin-left: 1%;
}

.songs_search{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.songs_search_bar{
    display: flex;
    width: 34.5rem;
    justify-content: space-around;
    justify-content:center;
}

h3 .search_song_conteiner{
    justify-items: center;
}

.search_song{
    background-color: var(--color-lilac);
    border-radius: 2.5625rem;
    border: 3px solid #5E376D;
    height: 20%;
}

.song_search_result{
    background-color: var(--color-lilac);
    border-radius: 2.5625rem;
    border: 3px solid #5E376D;
}
